*{
    margin: 0;
    padding:0;
}
body{
    background-color: #D5E1EF ;
    
}
div{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qr-code{
    text-align: center;
  display: inline-block;
  width: 320px;
  height: 497px;
  background-color: #ffff;
  border-radius: 20px;
}
.qr-img{
    width: 288px;
  height: 288px;
  border-radius: 10px;
  overflow: hidden;
  margin: 16px;
}
img{
    width: 100%;
}
h1{
    margin: 0 16px 16px 16px;
    color: #1f314f;
    font-weight: 700;
    font-size: 22px;
    line-height: 27.72px;
}
p{
        color: #7d889e;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0.1875px;
        margin: 0 32px 0 32px;
}
.text{
    display: inline-block;
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-style: normal;
}